.bg{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaWEGk_kWZLk2MfvsvtSuGFh2Vlj85GOqzcQ&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

}
.container{
    height: auto;
    background-color: #c40b7d;
}
/* .contact-image{
    width:auto;
    height: 100px;
    border-radius: 50px;
} */